body {
  margin: 0;
  padding: 0;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(251,106,12,1) 0%, rgba(193,11,135,1) 97.4% ); 
  min-height: 100vh;
}

button{
  cursor: pointer;
}